.village__fetchBtn {
  margin: 15px;
}

.villagers__cont {
  min-height: 60vh;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.villager__card {
  min-width: 50vh;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}